

/* ============ BASIC SETUP ============ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    
}

.row {
    width: 100%;
    margin: 0 auto;
}


/* ========== RUSEABLE COMPONENTS ========= */

.noliststyle {
    list-style-type: none;
}

.center-text {
    text-align: center;
}

.a-link {
    color: #a80a9c !important;
}

a:hover {
    color: orange;
    border-bottom: 0 solid orange;
}

.white-link {
    color: #fff;
}

.white-link:hover {
    color: orange;
    border-bottom: 0 solid orange;
}

.uppercase {
    text-transform: uppercase;
}

.justify-text {
    text-align: justify
}

.orange {
    color: orange !important;
}

.white {
    color: #fff !important;
}

.relative {
    position: relative;
}

.center-text {
    text-align: center;
}

.clearfix:before,
.clearfix:after {
   content: '\0020';
   display: block;
   overflow: hidden;
   visibility: hidden;
   width: 0;
   height: 0;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.is-orange {
    background-color: orange;
    border: 2px solid orange;
}

.more-btn {
    border: 2px solid orange;
    color: orange;
    font-weight: 900;
}

.more-btn:hover {
    border: 2px solid orange;
}

progress {
    color: #0063a6;
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 15em;
    height: 1.8em;
    border: 1px solid #0063a6;
    background: #fff;
  }
  
  progress::-webkit-progress-value {
    background: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    background: red;
  }
  
  progress::-webkit-progress-bar {
    background: blue;
  }

/* ========== SECTIONS ========= */

.section-top {
    background-color: black;
    background-image: url(../imgs/geometric-transp.png);
    color: #fff !important;
    /* padding-top:0 !important; */
}

.section-details {
    background-color: #f5f5f5;
}

.section-github {
    background-color: orange;
    background-image: url(../imgs/diagmonds.png);
}

.section-github h3 {
    text-align: center;
    color: #fff !important; 
    margin: 5px 0;
}


/* ========== HEADER ========= */

.flex-central-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img {
    top: 25%;
    right: 15%;
    z-index: 10;
    justify-content: center;
    display: flex;
}

.header-img img {
    max-width: 450px;
}

@media(min-width: 992px) {
    
        .section-top {
            height: 100vh;
        }
}

@media(min-width: 768px) {

    .header-text h1 {
        padding-bottom: 25px;
        border-bottom: 2px solid orange;
        font-size: 3em !important
    }
    
    .header-text p {
        font-size: 2em !important;
        padding-top: 25px;
    }
}

@media(max-width: 768px) {
    .header-text h1 {
        padding-bottom: 25px;
        border-bottom: 2px solid orange;
        font-size: 2em !important
    }
    
    .header-text p {
        font-size: 1.5em !important;
        padding-top: 25px;
    }

    .header-img img {
        width: 70%;
        min-width: 320px;
    }
}

/* ========== DETAILS SECTION ========= */

.aboutme {
    margin-bottom: 50px;
}

.aboutme h2, .skills h3, .tools h3 {
    text-transform: uppercase;
    color: orange;
    font-weight: 700;
}

.aboutme p {
    text-align: justify;
}

@media(min-width: 992px) {
    
    .aboutme {
        margin: 0 100px 50px 100px;
    }
}